<% if(page.reward){ %>
<div class="page-reward">
    <!-- <a id="rewardBtn" href="javascript:;" class="page-reward-btn waves-effect waves-circle waves-light">打赏</a> -->
    <!-- <img src="https://i1.yuangezhizao.cn/pay/mm_reward_qrcode.png!webp?imageView2/1/w/500" title="创作不易，感谢支持！"> -->
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5284803131856994"
     crossorigin="anonymous"></script>
<!-- 横向展示广告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5284803131856994"
     data-ad-slot="2859089362"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<% } %>
