<% if(page.reward){ %>
<div class="page-reward">
    <!--<a id="rewardBtn" href="javascript:;" class="page-reward-btn waves-effect waves-circle waves-light">打赏</a>-->
    <img src="https://i1.yuangezhizao.cn/pay/mm_reward_qrcode.png!webp?imageView2/1/w/500" title="创作不易，感谢支持！">
</div>
<% } %>
