<div class="waterfall-item">
  <article class="article-card archive-article">
    <h3 class="post-title" itemprop="name">
      <a class="post-title-link" href="<%- url_for(post.path) %>">【<%- post.key %>】<%= post.title %></a>
    </h3>
  </article>
</div>